section.section.container
  include ../partials/section-heading
  .departments.swiper 
    .swiper-wrapper.departments__grid
      .departments__item.swiper-slide 
        picture.departments__image 
          img(src=require('@/images/departments/1.jpg'), alt="")
        .departments__text 
          h4.departments__title Finance / HR
          p.departments__desc - accounting and reporting all financial activities, recruiting, onboarding and supervision of all personnel
      .departments__item.swiper-slide 
        picture.departments__image 
          img(src=require('@/images/departments/1.jpg'), alt="")
        .departments__text 
          h4.departments__title Operations
          p.departments__desc - stow planning and supervision of loading & discharging activities in all European ports
      .departments__item.swiper-slide 
        picture.departments__image 
          img(src=require('@/images/departments/1.jpg'), alt="")
        .departments__text 
          h4.departments__title Trade
          p.departments__desc - managing vessel capacity in close co-operation with customers and vessel owners
      .departments__item.swiper-slide 
        picture.departments__image 
          img(src=require('@/images/departments/1.jpg'), alt="")
        .departments__text 
          h4.departments__title Sales
          p.departments__desc - managing all commercial activities and customer acquisition
      .departments__item.swiper-slide 
        picture.departments__image 
          img(src=require('@/images/departments/1.jpg'), alt="")
        .departments__text 
          h4.departments__title Management
          p.departments__desc - developing the company’s strategy guided by shareholders direction
      .departments__item.swiper-slide 
        picture.departments__image 
          img(src=require('@/images/departments/1.jpg'), alt="")
        .departments__text 
          h4.departments__title Operations
          p.departments__desc - stow planning and supervision of loading & discharging activities in all European ports