section.section.container
  include ../partials/section-heading
  .departments.swiper 
    .swiper-wrapper.departments__grid
      .departments__item.swiper-slide 
        picture.departments__image 
          img(src=require('@/images/departments/1.jpg'), alt="")
        h4.departments__title General Management
      .departments__item.swiper-slide 
        picture.departments__image 
          img(src=require('@/images/departments/1.jpg'), alt="")
        h4.departments__title General Management
      .departments__item.swiper-slide 
        picture.departments__image 
          img(src=require('@/images/departments/1.jpg'), alt="")
        h4.departments__title General Management
      .departments__item.swiper-slide 
        picture.departments__image 
          img(src=require('@/images/departments/1.jpg'), alt="")
        h4.departments__title General Management
      .departments__item.swiper-slide 
        picture.departments__image 
          img(src=require('@/images/departments/1.jpg'), alt="")
        h4.departments__title General Management
      .departments__item.swiper-slide 
        picture.departments__image 
          img(src=require('@/images/departments/1.jpg'), alt="")
        h4.departments__title General Management