section.section.container
  include ../partials/section-heading
  .map-wrapper
    if !removeMapCategory
      .category-tabs(role='tablist')
        button.category-tabs__btn(type='button' role='tab' aria-selected='true' aria-controls='maps-tabs-1') Trade Maps Deep Sea Services
        button.category-tabs__btn(type='button' role='tab' aria-selected='false' aria-controls='maps-tabs-2') Trade Maps Ferry Services
    if removeMapCategory
      .maps-category-wrapper(role='tablist')
        - var arr = [1,2,3,4,5,6]
        .maps-category
          each val, index in arr
            button.maps-category__btn.btn.btn--primary(type='button' role='tab' aria-selected=`${index === 0 ? 'true' : 'false'}` aria-controls=`map-${index}`) 
              span.btn__inner EU - Far East
        each val, index in arr
          .map-container(id=`map-${index}` role='tablist')
            .map
              picture.map__image
                source(media="(max-width:556px)", srcset=require('@/images/maps/1-m.svg'))
                img(src=require('@/images/maps/1.svg'), alt="")
              .map__buttons.hidden-desktop 
                button.map__buttons-item.btn.btn--primary(data-modal="main-modal")
                  span.btn__inner Get a Quote
                a.map__buttons-item.btn.btn--primary.btn--blue(href="#") 
                  span.btn__inner SCHEDULES
    else
      #maps-tabs-1.maps-category-wrapper(role='tablist')
        - var arr = [1,2,3,4,5,6,1,1,1,1,1,1,1,1,1,1,1,1,1,1]
        .maps-category.swiper 
          .swiper-wrapper
            each val, index in arr
              .swiper-slide
                button.maps-category__btn.btn.btn--primary(type='button' role='tab' aria-selected=`${index === 0 ? 'true' : 'false'}` aria-controls=`map-${index}`) 
                  span.btn__inner EU - Far East
        each val, index in arr
          .map-container(id=`map-${index}` role='tablist')
            .map
              picture.map__image
                source(media="(max-width:556px)", srcset=require('@/images/maps/1-m.svg'))
                img(src=require('@/images/maps/1.svg'), alt="")
              .map__buttons.hidden-desktop 
                button.map__buttons-item.btn.btn--primary(data-modal="main-modal")
                  span.btn__inner Get a Quote
                a.map__buttons-item.btn.btn--primary.btn--blue(href="#") 
                  span.btn__inner SCHEDULES
      #maps-tabs-2.maps-category-wrapper-2(role='tablist')
        .maps-category
          - var arr2 = [7,8,9,10,11,12]
            each val, index in arr2
              button.maps-category__btn.btn.btn--primary(type='button' role='tab' aria-selected=`${index === 0 ? 'true' : 'false'}` aria-controls=`map-${val}`) 
                span.btn__inner EU - Far East 2 
        each val, index in arr2
          .map-container(id=`map-${val}` role='tablist')
            .map
              picture.map__image
                source(media="(max-width:556px)", srcset=require('@/images/maps/1-m.svg'))
                img(src=require('@/images/maps/1.svg'), alt="")
              .map__buttons.hidden-desktop 
                button.map__buttons-item.btn.btn--primary(data-modal="main-modal")
                  span.btn__inner Get a Quote
                a.map__buttons-item.btn.btn--primary.btn--blue(href="#") 
                  span.btn__inner SCHEDULES


