-
  locals.menu = [
    {
      name:'Business Areas',
      link: '',
      hasSub: [
        {
          name:'Deep Sea Servces',
          link:`./deep-sea.html`
        },
        {
          name:'Ferry Services',
          link:`${htmlWebpackPlugin.options.path}/ferry-services.html`
        },
        {
          name:'Cargo Types',
          link:`${htmlWebpackPlugin.options.path}/cargo.html`
        },
      ],
    },
    {
      name:'Trade Areas',
      link:`${htmlWebpackPlugin.options.path}/trade-areas.html`,
      hasSub:false,
    },
    {
      name:'Customer service',
      link: '',
      hasSub:[
        {
          name:'Delivery',
          link:`${htmlWebpackPlugin.options.path}/delivery.html`,
        },
        {
          name:'Schedules',
          link:`${htmlWebpackPlugin.options.path}/schedules.html`,
        },
      ],
    },
    {
      name:'Career',
        link:`${htmlWebpackPlugin.options.path}/career.html`,

      hasSub:false,
    },
    {
      name:'Job page',
        link:`${htmlWebpackPlugin.options.path}/job-page.html`,

      hasSub:false,
    },
    {
      name:'About us',
      link:`${htmlWebpackPlugin.options.path}/about.html`,
      hasSub:[
        {
          name:'Group fleet',
          link:`${htmlWebpackPlugin.options.path}/group-fleet.html`,
        }
      ],
    },

    {
      name:'Contact',
      link:`${htmlWebpackPlugin.options.path}/contacts.html`,
      hasSub:false,
    },

  ]

